/* ----------------------------------------------------------------------------
 * Mixins
 * ------------------------------------------------------------------------- */
/*
 * Mixin for clearfix
 * @include clearfix;
*/
/*
 * @font-face mixin
 * Bulletproof font-face via Font Squirrel
 * @include fontface('family', 'assets/fonts/', 'myfontname');
 */
/**
 * IMAGE RETINA
 * @include image-2x(/img/image.png, 100%, auto);
 */
/* ----------------------------------------------------------------------------
 * Responsive
 * Usage

		@include r(240)  { }
		@include r(320)  { }
		@include r(480)  { }
		@include r(768)  { }
		@include r(1024) { }
		@include r(1280) { }

 * ------------------------------------------------------------------------- */
body {
  overflow-y: hidden; }

.logo-preload {
  margin: auto;
  width: 123px; }

.preload-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2b292b;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
